:root {
    --vermelho: #FF0000;
    --bege: #F5F5DC;
    --branco: #FFFFFF;
    --preto: #000000;
}

.users-list{
    margin-top: 30px;
    text-align: center;
}
.login-title {
    color: #FFF;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
    width: 100%;
}

.form-label {
    
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #4A5568;
    
    color: #000;
}

.form-input:focus {
    outline: none;
    border-color: #718096;
}

.submit-button {
    background-color: #6B46C1; 
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-button:hover {
    background-color:var(--masterball-purple-dark);
}

.error-message {
    color: #E53E3E;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: block;
}
